<h3>Non ti sei ancora registrato?</h3>
<button (click)="visualizzaForm=!visualizzaForm" class="btn btn-primary">{{visualizzaForm? "Chiudi registrazione" : "Apri registazione"}}</button>
<app-form-persona *ngIf="visualizzaForm" (nuovaPersona) ="handleRegistrazione()"></app-form-persona>
<div class="row">
    <app-card-persona *ngFor="let persona of elencoPersone" [persona]="persona" (nomePersona) ="handleAccedi($event)" class="col-12	col-sm-12 col-md-6 col-lg-4 col-xl-3"></app-card-persona>
</div>

