<h1 class="text-center">Benvenuto nella pagina dipendenti</h1>
<h2 class="text-center">Qui potrai gestire tutti i tuoi dipendenti</h2>
<div>
    <button (click)="cambiaRotta('dipendenti')" class="mx-3 btn btn-success">Home dipendenti</button>
    <!-- <button (click)="cambiaRotta('dipendenti/aggiungi-dipendente')" class="mx-3 btn btn-success">Aggiungi dipendente</button>-->
    <button (click)="cambiaRotta('dipendenti/lista-dipendenti')" class="mx-3 btn btn-success">Lista dipendenti</button>
</div>
<router-outlet></router-outlet>