<h1 class="text-center">Benvenuto in myApp</h1>
<h2 class="text-center">Oggi è il giorno {{data | date:'dd/MM/YYYY'}}</h2>
<h3>Non ti sei ancora registrato?</h3>
<button (click)="visualizzaForm=!visualizzaForm" class="btn btn-primary">{{visualizzaForm? "Chiudi registrazione" : "Apri registazione"}}</button>
<app-form-persona *ngIf="visualizzaForm" (nuovaPersona) ="handleRegistrazione($event)"></app-form-persona>
<app-card-persona *ngFor="let persona of elencoPersone " [persona]="persona" (nomePersona) ="handleAccedi($event)"></app-card-persona>

